html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

div {
  text-align: center;
  padding: .25em;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle:hover,
.btn-ghost:hover {
  background-color: #666;
}

.btn-warning:hover {
  background-color: #933;
}

.btn {
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  padding: .4em .75em .3em;
  display: inline-block;
  margin: .25em;
  width: 75%;
  text-decoration: none;
  border-radius: 8px;
  max-width: 250px;
}

.btn-subtle {
  background-color: #ccc;
}

.btn-ghost {
  color: #000;
  background-color: #fff;
  border: 3px solid #000;
}

.btn-warning {
  background-color: #f33;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}
